/* 
Verde clarito:BACDB0
Verde:729B79
Azul/gris:475B63
negro:2E2C2F
*/
header{
    background-color: #729B79;
    color: white;
    display: flex;
    padding: 10px 1em;
    margin: 0 auto;
    justify-content: space-between;
    z-index: 1000;
}
footer {
    display: flex;
    justify-content: left;
    padding: 10px;
    background-color: #2E2C2F;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}
nav ul{
    display: flex;
    gap: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    margin: 0;
}
nav ul li a{
    color: black;
    text-decoration: none;
    padding: 0.5 1em;
}
nav ul li a:hover{
    background-color: rgb(192, 0, 0);
    padding: 11px;
}
