header{
    background-color: #729B79;
    color: white;
    display: flex;
    padding: 10px 1em;
    margin: 0 auto;
    justify-content: space-between;
    z-index: 1000;
}
footer {
    display: flex;
    justify-content: left;
    padding: 10px;
    background-color: #2E2C2F;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}
nav ul{
    display: flex;
    gap: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    margin: 0;
}
nav ul li a{
    color: black;
    text-decoration: none;
    padding: 0.5 1em;
}
nav ul li a:hover{
    background-color: rgb(192, 0, 0);
    padding: 11px;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #475B63;
}
.container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container-img img {
    border-radius: 8px;
    margin-bottom: 20px;
}
.container-img h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}
.planta-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}
.left-side {
    flex: 1;
}
.right-side {
    flex: 0.5;
    background-color: #fafafa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h3, h4 {
    font-size: 20px;
    color: #555;
    margin-top: 15px;
}
ul, ol {
    margin-left: 20px;
    font-size: 14px;
}
.container-pro-all{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}
.container-tit{
    background-color: #9ad1a3;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}
.container-tex{
    color: white;
    text-align: center;
    flex-wrap: wrap;
}
.container-arr{
    display: flex;
    gap: 100px;
}
.container-abj{
    display: flex;
    gap: 100px;
}